/*  your css code here. If applicable */
.container{
	display:flex;
	height:120px;
	width:400px;
	border:5px solid black;
	border-radius:20px;
	background-color:lightgray;
	justify-content:center;
	padding:10px;
	gap:10px;
	align-items:center;
	.a{
	background-color:green;
	height:50px;
	width:50px;
	border-radius:100%;
	
	}
	.b{background-color:yellow;
	  height:50px;
	width:50px;
	   border-radius:100%;
	};
	.c{background-color:red;
	  height:50px;
	width:50px;
	    border-radius:100%;
	};
}